<!DOCTYPE html>
<html lang="kr">
<head>
  <% include ../layout/header_resources %>
	<link rel="stylesheet" href="/css/room.css">
</head>
<body>

	<% include ../layout/header_contents %>
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="room">
				<div class="header">
					<p class="title">달빛방</p>
					<p class="desc">
						'달빛'방은 깔끔한 최신식 주방을 갖추고 있고,
						<br>
						가족끼리 단란한 시간을 보내기에 좋은 깔끔하고 예쁜 방입니다^^
					</p>

				</div>
				<div class="images" id="slides">
					<div class="item" style="background-image: url('/images/rooms/moon_01.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_02.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_03.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_04.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_05.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_06.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_07.jpg')"></div>
					<div class="item" style="background-image: url('/images/rooms/moon_08.jpg')"></div>
					<button class="slidesjs-previous slidesjs-navigation btn-default">&lt;</button>
					<button class="slidesjs-next slidesjs-navigation btn-default">&gt;</button>
				</div>
				<div class="facilities">
					<p class="title">구비시설</p>
					<p>TV, 에어컨, 온풍기, 냉장고, 전기밥솥, 커피포트, 인덕션, 전기쿠커, 냄비 등 조리기구, 헤어드라이어, 침대, 샤워부스,
						수건, 샴푸 등 세면도구, 무선인터넷 가능</p>
				</div>
				<a href="/reservation" class="btn-md btn btn-success reservation-btn">예약하기</a>
			</div>
		</div>
	</div>

	<% include ../layout/footer_contents %>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<% include ../layout/footer_resources %>
</body>
</html>
