.section-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
}
.section-title a {
  color: #333333;
}
.section-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after  {
  left: 100%;
  margin-left: 45px;
}

#main-rooms .room-title {
  text-align: center;
  font-family: 'Nanum Brush Script', serif;
  font-weight: bold;
}