<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 widget">
        <h3 class="widget-title">연락처</h3>
        <div class="widget-body">
          <p>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            010-4709-7968
          </p>
          <p>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            061-852-7968
          </p>
        </div>
      </div>

      <div class="col-md-4 widget">
        <h3 class="widget-title">찾아 오시는 길</h3>
        <div class="widget-body">
          <p>
            <a href="/#map">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              오시는 방법
            </a>
          </p>
          <p>
            <a href="http://naver.me/56oXiVqg" target="_blank">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              지도로 보기
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-4 widget">
        <h3 class="widget-title">예약하기</h3>
        <div class="widget-body">
          <p>
            <a href="/reservation">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              실시간 예약하기
            </a>
          </p>
          <p>
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
            [농협] 649-12-090451
            <br>
            (예금주: 이정심)
          </p>
        </div>
      </div>

    </div> <!-- /row of widgets -->
  </div>
</footer>

<footer id="underfooter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p>
            상호 : 다누리펜션 | 대표자 : 이정심  | 입금계좌: [농협] 649-12-090451 (예금주: 이정심)
          </p>
          <p>
            소재지 : 전라남도 보성군 보성읍 녹차로 890-28 다누리펜션
          </p>
        </div>
      </div>

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p class="text-right">
            Copyright &copy; 2017
            <a href="https://github.com/qus1225" rel="developer" target="_blank">
              qus1225
            </a>
            All rights reserved
            <br>
            Design: <a href="http://www.gettemplate.com" rel="designer" target="_blank">Initio by GetTemplate</a> </p>
        </div>
      </div>

    </div> <!-- /row of widgets -->
  </div>
</footer>